@font-face {
  font-family: "Inter:Bold";
  src: url("https://static.figma.com/font/Inter_1") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter:Italic";
  src: url("https://static.figma.com/font/Inter_1") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Inter:Medium";
  src: url("https://static.figma.com/font/Inter_1") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter:Regular";
  src: url("https://static.figma.com/font/Inter_1") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter:Semi Bold";
  src: url("https://static.figma.com/font/Inter_1") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter:Semi_Bold";
  src: url("https://static.figma.com/font/Inter_1") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins:Medium";
  src: url("https://static.figma.com/font/Poppins-Medium_6") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins:Regular";
  src: url("https://static.figma.com/font/Poppins-Regular_6") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins:SemiBold";
  src: url("https://static.figma.com/font/Poppins-SemiBold_6") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Space Grotesk:Medium";
  src: url("https://static.figma.com/font/SpaceGrotesk_wght__1") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
